@model IEnumerable<Turma>

<h1>Turma</h1>

<a asp-action="Criar" asp-controller="Turma" type="button" class="btn btn-primary">Criar Turma</a>


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Curos</th>
            <th scope="col">Ano</th>
            <th scope="col">Ação</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var turma in Model)
            {
                <tr>
                    <th>@turma.Nome</th>
                    <th>@turma.CursoId</th>
                    <th>@turma.Ano</th>
                    <th>
                        <a asp-controller="Turma" asp-action="Editar" asp-route-id="@turma.Id" class="btn btn-warning">Editar</a>
                        <btn class="btn btn-danger" onclick="InativarTurma(@turma.Id)">Inativar</btn>
                    </th>
                </tr>
            }
        }
    </tbody>
</table>


@section Scripts{
    <script>
        function InativarTurma(id) {

            if (confirm("Quer mesmo inativar essa Turma?")) {
                $.ajax({
                    method: "POST",
                    url: "/Turma/Inativar",
                    data: { id: id },
                    success: (retorno) => {
                        if (retorno == true) {
                            alert("Turma deletado com sucesso")
                            location.reload()
                        }
                        else {
                            console.log(retorno)
                            alert("Erro ao deletar a Turma")
                        }


                    }
                })
            }
        }
    </script>
}

